@import url('//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');
@import url('//fonts.googleapis.com/css?family=Roboto');
@import url('//fonts.googleapis.com/css?family=Open+Sans:300,400,700');

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

// Core variables
@import "bootstrap-sass/assets/stylesheets/bootstrap/_variables";

// Mixins
@import "bootstrap-sass/assets/stylesheets/bootstrap/_mixins";

// Reset and dependencies
@import "bootstrap-sass/assets/stylesheets/bootstrap/_normalize";
@import "bootstrap-sass/assets/stylesheets/bootstrap/_print";
@import "bootstrap-sass/assets/stylesheets/bootstrap/_glyphicons";

// Core CSS
@import "bootstrap-sass/assets/stylesheets/bootstrap/_scaffolding";
@import "bootstrap-sass/assets/stylesheets/bootstrap/_type";
@import "bootstrap-sass/assets/stylesheets/bootstrap/_code";
@import "bootstrap-sass/assets/stylesheets/bootstrap/_grid";
@import "bootstrap-sass/assets/stylesheets/bootstrap/_tables";
@import "bootstrap-sass/assets/stylesheets/bootstrap/_buttons";

// Components
@import "bootstrap-sass/assets/stylesheets/bootstrap/_jumbotron";

// Utility classes
@import "bootstrap-sass/assets/stylesheets/bootstrap/_utilities";

body {
	font-family: 'Roboto', sans-serif;
}

.app {
	display: flex;
	flex-direction: column;
	align-items: center;
    background-color: #f0f0f0;
}

.header {
	flex-wrap: nowrap;
	padding-top: 8px;
	padding-bottom: 8px;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
  	justify-content: center;
  	color: #4F8EF7;
    font-family: 'Open Sans';
    font-weight: 300;
    text-align: center;
    font-size: 28px;
    line-height: 22px;
    margin-top: -4px;
    padding-bottom: 40px;
}

.btn-google-plus {
  color: #fff;
  background-color: #dd4b39;
  border: 1px solid #d54331;
}

.btn-google-plus:hover,
.btn-google-plus:focus {
  color: #fff;
  background-color: #cb3927;
}

.btn [class^='ion-'] {
  margin-right: 5px;
}

.btn .fa {
  margin-right: 5px;
}

.center-form {
  width: 600px;
  margin: 12% auto;
}

body {
  font-family: Helvetica, sans-serif;
}

.react-autosuggest__container {
  &,
  *,
  *:before,
  *:after {
    @include box-sizing(content-box);
  }
}
.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input:focus {
  outline: none;
}

.react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  position: absolute;
  top: 51px;
  width: 280px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: auto;
  max-height: 500px;
  z-index: 2;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--focused {
  background-color: #ddd;
}

.react-autosuggest__section-title {
  padding: 10px 0 0 10px;
  font-size: 12px;
  color: #777;
  border-top: 1px dashed #ccc;
}

.react-autosuggest__section-container:first-child .react-autosuggest__section-title {
  border-top: 0;
}

.react-autosuggest__section-suggestions-container {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
